*{
    margin: 0; /*Remove espaços internos e externos*/
    padding: 0; /*Remove espaços internos e externos*/
    box-sizing: border-box; /*Garante o tamanho exato */
}
 
body {
    background-color: rgba(196, 255, 247, 0.829);
}
 
header {
    display: flex;
    align-items: center; /* Alinha todos verticalmente ao centro */
    justify-content: space-between; /* Distribui os blocos: esquerda, centro e direita */
    padding: 10px 20px;
    background-color: bisque;
    border: 2px solid gray;
}
 
header ul {
    display: flex; /* Faz a lista ficar na horizontal */
    list-style: none; /* Remove as bolinhas da lista */
    gap: 20px; /* Espaçamento entre os itens da lista */
    margin: 0;
    padding: 0;
}
 
.logo {
    height: 50px; /* Ajuste o tamanho da sua logo aqui */
    width: auto;
    border-radius: 50%; /*Deixa oval */
}
 
.carrossel {
    width: 90%; /*Carrossel ocupa 90% da largura da tela*/
    height: 400px; /* Altura fixa do carrossel */
    margin: 30px auto; /* 30px em cima e embaixo, o auto vai nas laterais para centralizar o elemento */
    overflow: hidden; /* Esconde as partes das imagens que saem do carrossel */
    border-radius: 15px; /* Deixa as bordas arredondadas */
    border: 2px solid gray; /* Adiciona uma borda cinza ao redor do carrossel */
}
 
.slides {
    display: flex; /* Coloca as imagens em linha */
    width: 300%; /* Largura total para 3 imagens (100% cada) */
    height: 100%;
    animation: slide 5s infinite; /* Animação de 15 segundos, repetindo infinitamente */
}
 
.slides img {
    width: 33.33%; /* Cada imagem ocupa 100% do carrossel */
    height: 100%; /*Cada imagem ocupa 100% do carrossel*/
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
}
 
@keyframes slide {
 
    /* Primeira imagem */
    0% {
        transform: translateX(0%);
    }
 
    30% {
        transform: translateX(0%);
    }
 
    /* Segunda imagem */
    35% {
        transform: translateX(-33.33%);
    }
 
    65% {
        transform: translateX(-33.33%);
    }
 
    /* Terceira imagem */
    70% {
        transform: translateX(-66.66%);
    }
 
    100% {
        transform: translateX(-66.66%);
    }
}